    <!--=============== REMIXICONS ===============-->
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
<body>
<img src="https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_1280.png" alt="" class="shape__bg"/>
<!--==================== HEADER ====================-->
<header class="header" id="header">
	<nav class="nav container">
		<a href="#" class="nav__logo">
			<img src="https://cdn.pixabay.com/photo/2017/09/12/17/14/halloween-2742962_1280.png" alt="logo image">
			Halloween 
		</a>
		<div class="nav__menu" id="nav-menu">
			<ul class="nav__list">
				<li class="nav__item">
					<a href="#home" class="nav__link active-link">Home</a>
				</li>
				<li class="nav__item">
					<a href="#about" class="nav__link">About us</a>
				</li>
				<li class="nav__item">
					<a href="#items" class="nav__link">Items</a>
				</li>
				<li class="nav__item">
					<a href="#party" class="nav__link">Party</a>
				</li>
			</ul>
<!-- 			close botton -->
			<div class="nav__close" id="nav-close">
				<i class="ri-close-line"></i>
			</div>
			<img src="https://cdn.pixabay.com/photo/2016/11/11/20/03/animal-1817643_1280.png" alt="nav image" class="nav__img">
		</div>
<!-- 		Toggle button -->
		<div class="nav__toggle" id="nav-toggle">
			<i class="ri-menu-4-line"></i>
		</div>
	</nav>
</header>
<!--==================== MAIN ====================-->
<main class="main">
	   <!--==================== HOME ====================-->
            <section class="home section" id="home">
							<div class="shape__small"></div>
							<div class="shape__big"></div>
            	<div class="home__container container grid">
            		<div class="home__data">
            			<h1 class="home__title">
            				<span>Halloween Party!</span>Trick or Treat!!!            
								      <img src="https://cdn.pixabay.com/photo/2013/07/12/17/40/stars-152191_1280.png" alt="home image" class="home__title-img-1">
										<img src="https://cdn.pixabay.com/photo/2013/07/12/17/40/stars-152191_1280.png" alt="home image" class="home__title-img-2">
            			</h1>
									<p class="home__description">
										This Halloween, enjoy trick-or-treating with your friends and spend a terrifying night under the full moon.		
									</p>
									<a href="#" class="button">Explore Now!!</a>
            		</div>
								<img src="https://cdn.pixabay.com/photo/2013/07/12/16/38/pumpkin-151302_1280.png" alt="home image"class="home__img">
								<img src="https://cdn.pixabay.com/photo/2022/10/12/00/04/cat-7515377_1280.jpg" alt="home image" class="home__tree-1">
								<img src="https://cdn.pixabay.com/photo/2022/10/12/00/04/cat-7515377_1280.jpg" alt="home image" class="home__tree-2">
            	</div>
            </section>
	 <!--==================== CATEGORY ====================-->
       <section class="category section">
				     <div class="shape__small"></div>
                <h2 class="section__title">
                	Choose your <br>
									spooky category
                </h2>
				 <div class="category__container container grid">
				 	    <div class="category__card">
				 	    	<img src="https://cdn.pixabay.com/photo/2012/04/01/16/39/halloween-23439_1280.png" alt="category image" class="category__img">
								<h3 class="category__title">Pumpkins</h3>
								<p class="category__description">
										Light up horror pumpkins to scare at night
								</p>
								<img src="https://cdn.pixabay.com/photo/2013/07/12/17/40/stars-152191_1280.png" alt="category image" class="category__star">
				 	    </div>
					  <div class="category__card">
				 	    	<img src="https://cdn.pixabay.com/photo/2014/04/02/16/26/ghost-307267_1280.png" alt="category image" class="category__img">
								<h3 class="category__title">Ghost</h3>
								<p class="category__description">
									Spooky ghosts to scare in the most haunted houses
								</p>
								<img src="https://cdn.pixabay.com/photo/2013/07/12/17/40/stars-152191_1280.png" alt="category image" class="category__star">
				 	    </div>
					  <div class="category__card">
				 	    	<img src="https://cdn.pixabay.com/photo/2016/03/31/20/29/hat-1295801_1280.png" alt="category image" class="category__img">
								<h3 class="category__title">Witch Hat</h3>
								<p class="category__description">
								  The most elegant witch hats you can wear and scare
								</p>
								<img src="https://cdn.pixabay.com/photo/2013/07/12/17/40/stars-152191_1280.png" alt="category image" class="category__star">
				 	    </div>
				 </div>
        </section>

            <!--==================== ABOUT ====================-->
            <section class="about section" id="about">
							<div class="shape__small"></div>
							<div class="shape__big"></div>
                <div class="about__container container grid">
                	<div class="about__data">
                		 <h2 class="section__title">
                		 	  About The Night <br>
											   Of Terror
                		 </h2>
										<p class="about__description">
											Halloween is celebrated every October 31 at night, walk around the city with your friends and trick or treat, enjoy this celebration under the full moon.
										</p>
										<a href="#" class="button">Know More!!!</a>
                	</div>
									<img src="https://cdn.pixabay.com/photo/2014/12/21/23/58/scarecrow-576497_1280.png" alt="about image" class="about__img">
                </div>
            </section>

            <!--==================== ITEMS ====================-->
            <section class="items section" id="items">
								<div class="shape__big"></div>
                <h2 class="section__title">
                	Select your <br>
									lost item
                </h2>
							<div class="items__container container grid">
								<article class="items__card">
									<img src="https://cdn.pixabay.com/photo/2012/04/13/11/07/candied-apples-31871_1280.png" alt="items image" class="items__img">
									<h3 class="items__name">Candy Apple</h3>
									<span class="items__price">$4.99</span>
									<button class="items__button">
										<i class="ri-heart-3-line"></i>
									</button>
								</article>
								<article class="items__card">
									<img src="https://cdn.pixabay.com/photo/2016/06/01/06/45/broom-1428449_1280.png" alt="items image" class="items__img">
									<h3 class="items__name">Witch Broom</h3>
									<span class="items__price">$10.99</span>
									<button class="items__button">
										<i class="ri-heart-3-line"></i>
									</button>
								</article>
								<article class="items__card">
									<img src="https://cdn.pixabay.com/photo/2012/04/01/16/39/halloween-23439_1280.png" alt="items image" class="items__img">
									<h3 class="items__name">Pumpkin</h3>
									<span class="items__price">$7.99</span>
									<button class="items__button">
										<i class="ri-heart-3-line"></i>
									</button>
								</article>
								<article class="items__card">
									<img src="https://cdn.pixabay.com/photo/2013/07/12/18/59/garden-spider-154125_1280.png" alt="items image" class="items__img">
									<h3 class="items__name">Spider</h3>
									<span class="items__price">$9.99</span>
									<button class="items__button">
										<i class="ri-heart-3-line"></i>
									</button>
								</article>
								<article class="items__card">
									<img src="https://cdn.pixabay.com/photo/2022/09/04/23/08/witch-hat-7432914_1280.png" alt="items image" class="items__img">
									<h3 class="items__name">Witch Hat</h3>
									<span class="items__price">$15.99</span>
									<button class="items__button">
										<i class="ri-heart-3-line"></i>
									</button>
								</article>
							</div>
            </section>

            <!--==================== PARTY ====================-->
            <section class="party section" id="party">
							<div class="party__container container grid">
                <div class="party__data">
                	<h2 class="section__title">
                		  Halloween <br>
										  party 31 October
                	</h2>
									<p class="party__description">
										Organize a great halloween party and enjoy the creepiest 
										night of terror with all your friends.
									</p>
									<a href="#" class="button">
										Start The Party!!!
									</a>
                </div>
								<div class="party__images">
									  <img src="https://cdn.pixabay.com/photo/2017/01/30/23/52/bubble-2022390_1280.png" alt="party image" class="party__img">
									<img src="https://cdn.pixabay.com/photo/2013/07/12/17/40/stars-152191_1280.png" alt="party image" class="party__star-1">
									<img src="https://cdn.pixabay.com/photo/2013/07/12/17/40/stars-152191_1280.png" alt="party image" class="party__star-2">
								</div>
								</div>
            </section>
</main>
 <!--==================== FOOTER ====================-->
<footer class="footer section">
	<div class="shape__small"></div>
	<div class="shape__big"></div>
	<div class="footer__container container grid">
		  <div>
		  	<a href="#" class="footer__logo">
		  		<img src="https://cdn.pixabay.com/photo/2017/09/12/17/14/halloween-2742962_1280.png" alt="logo image">
					Halloween
		  	</a>
				<p class="footer__description">
					Enjoy the spookiest <br>
					night of your life.
				</p>
		  </div>
		<div class="footer__content">
			
			<div>
				<h3 class="footer__title">About Us</h3>
				<ul class="footer__links">
					<li>
						<a href="#" class="footer__link">About Us</a>
					</li>
					<li>
						<a href="#" class="footer__link">Features</a>
					</li>
					<li>
						<a href="#" class="footer__link">News & Blog</a>
					</li>
				</ul>
			</div>
			<div>
				<h3 class="footer__title">Services</h3>
				<ul class="footer__links">
					<li>
						<a href="#" class="footer__link">Pricing</a>
					</li>
					<li>
						<a href="#" class="footer__link">Discounts</a>
					</li>
					<li>
						<a href="#" class="footer__link">Send a gift</a>
					</li>
				</ul>
			</div>
			<div>
				<h3 class="footer__title">Company</h3>
				<ul class="footer__links">
					<li>
						<a href="#" class="footer__link">Blog</a>
					</li>
					<li>
						<a href="#" class="footer__link">Celebrations</a>
					</li>
					<li>
						<a href="#" class="footer__link">About</a>
					</li>
				</ul>
			</div>
			<div>
				<h3 class="footer__title">Social Media</h3>
				<ul class="footer__social">
					
						<a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
							<i class="ri-facebook-circle-fill"></i>
						</a>
						<a href="https://www.instagram.com/"  target="_blank" class="footer__social-link">
								<i class="ri-instagram-fill"></i>
						</a>
							<a href="https://www.twitter.com/"  target="_blank" class="footer__social-link">
								<i class="ri-twitter-fill"></i>
						</a>
				</ul>
			</div>
		</div>
		<img src="https://cdn.pixabay.com/photo/2022/10/12/00/04/cat-7515377_1280.jpg" alt="footer image" class="footer__tree-1">
		<img src="https://cdn.pixabay.com/photo/2022/10/12/00/04/cat-7515377_1280.jpg" alt="footer image" class="footer__tree-2">
	</div>
	<span class="footer__copy">
		&#169; CodePenChallenge. All rights reserved
	</span>
</footer>
	 <!--==================== SCROLL UP ====================-->
	 <a href="#" class="scrollup" id="scroll-up">
	 	  <i class="ri-arrow-up-line"></i>
	 </a>
		 <!--==================== SCROLLREVEAL ====================-->
	<script src="https://unpkg.com/scrollreveal"></script>
	
	</body>